*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;

}body{
    font-size: 100%;
    background:linear-gradient(to right,#6c0e0b 20% , #BE947C 82.88%);
}

.item1{
    align-items: center;
    position: relative;
}

header{
    display: flex;
    flex-direction: row;
}

a{
    text-decoration: none;
}

nav a:rover{
    color: #6c0e0b;
}